<h1 mat-dialog-title>Подключиться к комнате</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Номер комнаты</mat-label>
    <input [formControl]="roomNumberFC" matInput>
    <mat-error *ngIf="roomNumberFC.hasError('required')">Обязательное поле</mat-error>
    <mat-error *ngIf="roomNumberFC.hasError('blank')">Вы не выбрали комнату для вступления</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Пароль от комнаты</mat-label>
    <input [formControl]="typedPasswordFC" matInput>
  </mat-form-field>

  <div>
    <button mat-button (click)="onSubmit()" [disabled]="roomNumberFC.invalid" id="buttonSignIn" color="primary">Войти в комнату</button>
  </div>

</div>
