<div class="entry-point">
  <h2>Выполните вход</h2>

  <form class="example-form">
    <mat-form-field floatLabel="always" class="example-full-width">
      <mat-label>Логин</mat-label>
      <input [formControl]="login" matInput>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input id="passwordInput" placeholder="" value="" [formControl]="password" matInput>
      <mat-error *ngIf="password.hasError('required')">Вы не ввели пароль</mat-error>
    </mat-form-field>
  </form>

  <section>
    <div class="example-button-row">

      <button mat-button (click)="onSubmit()" [disabled]="fg.invalid" id="buttonSignIn" color="primary">Войти</button> или
      <button mat-button (click)="onSubmitReg()" id="routToRegister" color="primary">Перейти к регистрации</button>
    </div>
  </section>

<!--Желтенькое - навести и посикать предложения к исправлени (что импортировать). Желтенькое значит не скачено.-->
<!--Форм контролы можно объединять в форм группы и проверять валидность сразу набора форм контролов. -->
<!--  В конструкторы компонентов можно инджектить другие компоненты.-->
<!--  В эпп модуль файле дескриптор модуля. Там можем прописывать список соответствия урлу - компонента. -->

  <!--  Почитать инпут и аутпут элементы и двусторонее связывание!-->

</div>



