<div mat-dialog-content class="wrapper-dialog-new-room">
  <h1 style="text-align: center" mat-dialog-title>Создать новую комнату</h1>

<div class="wrapper-inputs-new-room">
  <div style="width: 100%">
    <h5>Время хода (в сек.): {{durationTime}}</h5>

    <mat-slider class="form-field" [showTickMarks]="true" [min]="120" [max]="500" [step]="1">
      <input  [(ngModel)]="durationTime"  matSliderThumb>
    </mat-slider>
  </div>

</div>
  <mat-form-field class="form-field">
    <mat-label>Пароль для комнаты</mat-label>
    <input [formControl]="newRoomPassword" matInput>
    <mat-error></mat-error>
  </mat-form-field>
  <div>
    <button mat-raised-button (click)="onSubmit()" id="buttonSignIn" color="primary">Создать комнату</button>
  </div>

</div>
