<table mat-table [dataSource]="roomsDataSource" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="roomCode">
    <th mat-header-cell *matHeaderCellDef>Номер комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.roomCode}} </td>
  </ng-container>

  <ng-container matColumnDef="adminLogin">
    <th mat-header-cell *matHeaderCellDef>Логин админа комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.adminLogin}} </td>
  </ng-container>

  <ng-container matColumnDef="passwordFromRoom">
    <th mat-header-cell *matHeaderCellDef>Пароль от комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.passwordFromRoom}} </td>
  </ng-container>

  <ng-container matColumnDef="playersInRoom">
    <th mat-header-cell *matHeaderCellDef>Игроков в комнате</th>
    <td mat-cell *matCellDef="let element"> {{element.playersInRoom}} </td>
  </ng-container>

  <ng-container matColumnDef="buttonsToGetInRoom">
    <th mat-header-cell *matHeaderCellDef>Перейти к игре</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="joinGame(this.element.roomCode,this.element.passwordFromRoom)" color="primary">Играть</button>
  </ng-container>

  <ng-container matColumnDef="buttonToJoin">
    <th mat-header-cell *matHeaderCellDef>Войти в комнату</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="joinRoom(this.element.roomCode,this.element.passwordFromRoom)" id="joinRoomButton" color="primary">Зайти</button>
    </td>

  </ng-container>
</table>

<ng-container>
  <button color="primary" mat-button (click)="createRoom()">Создать новую комнату</button>
</ng-container>

<table label="Комнаты в которых вы состоите" mat-table [dataSource]="playerRoomsDataSource" class="mat-elevation-z8, roomsPlayerInTable">
    <tr mat-header-row *matHeaderRowDef="displayedPlayersRooms"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedPlayersRooms;"></tr>

    <ng-container matColumnDef="room_code">
      <th mat-header-cell *matHeaderCellDef>Номер комнат в которых вы состоите</th>
      <td mat-cell *matCellDef="let element"> {{element.roomCode}} </td>
    </ng-container>
  </table>

<table label="Игроки онлайн" mat-table [dataSource]="playersOnlineDataSource" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="displayedColumnsPlayersOnline"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnsPlayersOnline;"></tr>

  <ng-container matColumnDef="playerLogin">
    <th mat-header-cell *matHeaderCellDef>Игроки в сети</th>
    <td mat-cell *matCellDef="let element"> {{element.playerLogin}} </td>
  </ng-container>
</table>



<br>

