<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="roomCode">
    <th mat-header-cell *matHeaderCellDef>Номер комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.roomCode}} </td>
  </ng-container>

  <ng-container matColumnDef="adminLogin">
    <th mat-header-cell *matHeaderCellDef>Логин админа комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.adminLogin}} </td>
  </ng-container>

  <ng-container matColumnDef="passwordFromRoom">
    <th mat-header-cell *matHeaderCellDef>Пароль от комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.passwordFromRoom}} </td>
  </ng-container>

  <ng-container matColumnDef="playersInRoom">
    <th mat-header-cell *matHeaderCellDef>Игроков в комнате</th>
    <td mat-cell *matCellDef="let element"> {{element.playersInRoom}} </td>
  </ng-container>


</table>



