
<div class="container">
<table mat-table [dataSource]="roomsDataSource" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container matColumnDef="roomNumber">
    <th mat-header-cell *matHeaderCellDef>Номер комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="adminLogin">
    <th mat-header-cell *matHeaderCellDef>Логин админа комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.adminLogin}} </td>
  </ng-container>

  <ng-container matColumnDef="passwordFromRoom">
    <th mat-header-cell *matHeaderCellDef>Пароль от комнаты</th>
    <td mat-cell *matCellDef="let element"> {{element.passwordFromRoom}} </td>
  </ng-container>

  <ng-container matColumnDef="playersInRoom">
    <th mat-header-cell *matHeaderCellDef>Игроков в комнате</th>
    <td mat-cell *matCellDef="let element"> {{element.playersInRoom}} </td>
  </ng-container>

  <ng-container matColumnDef="buttonsToGetInRoom">
    <th mat-header-cell *matHeaderCellDef>Перейти к игре</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="joinGame(this.element.roomNumber,this.element.passwordFromRoom)" *ngIf="!isGameStarted(element) && this.element.playersInRoom==4" color="primary">Играть</button>
  </ng-container>

  <ng-container matColumnDef="buttonsToStartGame">
    <th mat-header-cell *matHeaderCellDef>Начать игру</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="startGame(this.element.roomNumber)" *ngIf="isGameStarted(element) && this.element.playersInRoom==4 && this.element.adminLogin==this.userLogin" color="primary">Начать</button>
  </ng-container>

  <ng-container matColumnDef="buttonToJoin">
    <th mat-header-cell *matHeaderCellDef>Войти в комнату</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="joinRoom(this.element.roomNumber,this.element.passwordFromRoom)" *ngIf="hasntJoined(element) && this.element.adminLogin!=this.userLogin && this.element.playersInRoom<4" id="joinRoomButton" color="primary">Зайти</button>
    </td>

  </ng-container>
</table>


  <button id="create-room-button" mat-raised-button color="primary" (click)="createRoom()">Создать новую комнату</button>
  <button id="go-back-login" mat-raised-button color="primary" (click)="goBackToLogin()">Выйти из аккаунта</button>

<mat-card class="flex">
  <table label="Комнаты в которых вы состоите" mat-table [dataSource]="playerRoomsDataSource" class="mat-elevation-z8, rooms-player-in-table">
    <tr mat-header-row *matHeaderRowDef="displayedPlayersRooms"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedPlayersRooms;"></tr>

    <ng-container matColumnDef="room_code">
      <th mat-header-cell *matHeaderCellDef>Номер комнат в которых вы состоите</th>
      <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
    </ng-container>
  </table>

  <table label="Игроки онлайн" mat-table [dataSource]="playersOnlineDataSource" class="mat-elevation-z8 players-online">
    <tr mat-header-row *matHeaderRowDef="displayedColumnsPlayersOnline"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsPlayersOnline;"></tr>

    <ng-container matColumnDef="playerLogin">
      <th mat-header-cell *matHeaderCellDef>Игроки в сети</th>
      <td mat-cell *matCellDef="let element"> {{element.playerLogin}} </td>
    </ng-container>
  </table>
</mat-card>

<!--  <mat-card class="flex">-->
    <table mat-table [dataSource]="playersInRoomDataSource">
      <tr mat-header-row *matHeaderRowDef="displayedPlayersInRooms"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedPlayersInRooms;"></tr>

      <ng-container matColumnDef="playerLogin">
        <th mat-header-cell *matHeaderCellDef>Логин игрока в комнате</th>
        <td mat-cell *matCellDef="let element"> {{element.playerLogin}} </td>
      </ng-container>

      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Номер комнаты</th>
        <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
      </ng-container>

    </table>
<!--  </mat-card>-->
</div>
