
<mat-card class="auth-card">
<div class="entry-point">
  <h1>Регистрация</h1>

  <form class="example-form">
    <mat-form-field floatLabel="always" class="example-full-width">
      <mat-label>Логин</mat-label>
      <input [formControl]="login" matInput>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input id="passwordInput" placeholder="" value="" [formControl]="password" matInput>
      <mat-error *ngIf="login.hasError('required')">Вы не ввели логин</mat-error>
      <mat-error *ngIf="password.hasError('required')">Вы не ввели пароль</mat-error>
    </mat-form-field>
  </form>

  <section>
    <div class="example-button-row">
      <button ngMode mat-raised-button (click)="onSubmit()" [disabled]="fg.invalid" id="buttonRegister" color="primary">Зарегистрироваться</button> или
      <button ngMode mat-raised-button (click)="onSubmitSignIn()" id="routToRegister" color="primary">Перейти ко входу</button>
    </div>
  </section>

  <!--Желтенькое - навести и посикать предложения к исправлени (что импортировать). Желтенькое значит не скачено.-->
  <!--Форм контролы можно объединять в форм группы и проверять валидность сразу набора форм контролов. -->
  <!--  В конструкторы компонентов можно инджектить другие компоненты.-->
  <!--  В эпп модуль файле дескриптор модуля. Там можем прописывать список соответствия урлу - компонента. -->

  <!--  Почитать инпут и аутпут элементы и двусторонее связывание!-->

</div>
</mat-card>
