.card{
  height: 420px;
  width:300px;
  border: 1px solid black;
  box-shadow: darkgrey;
  background-size: 300px;
}

.card-container{
  display: flex;
}

.player-card{
  height: 210px;
  width:170px;
  border: gray solid 1px;
  box-shadow: gray;
  text-align: center;
}



.player-container{
  display: flex;
}


.effect-card{
  background-size: 215px;
  height: 300px;
  width: 215px;
}

.main-game-card{
  text-align: center;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
}
.main-game-card > div.flex {
  justify-content: space-around;
}

.player-card-current{
  background-color: darkseagreen;
}

.player-role-wrapper{

}


.apply-effect{

}


.closed-doors-info{
  color: white;
  background-color: transparent;
}

.for-effect-card>*{
  margin: 15px;
}
