<mat-card class="game-card-wrapper">
<div class="timer">
  <header class="card-header">Осталось времени для хода: </header>
  {{this.timer}}
</div>
<br>
<div class="player-role-wrapper">
  <header class="card-header">Ваша роль: </header>
  {{this.role}}
</div>
</mat-card>



<div class="card-container">
  <mat-card [class.it]="cardInHand.title=='Нечто'" class="card" [style.background-image]="cardInHand.cardImg"  *ngFor="let cardInHand of cardsInHands">
    <mat-card-header class="card-header">{{cardInHand.cardTitle}}</mat-card-header>
    <mat-label >{{cardInHand.cardDescription}}</mat-label>
    <mat-label >{{cardInHand.cardNumber}}</mat-label>
  </mat-card>
</div>


<br>
<div class="player-container">
  <mat-card [class.player-card-current]="player.login==currentMover" class="card" *ngFor="let player of players">
    <mat-card-header>{{player.orderNumber}}</mat-card-header>
    <mat-label >{{player.login}}</mat-label>
    <mat-label >{{player.id}}</mat-label>
  </mat-card>
</div>
<br>


