<div class="buttons-container flex right-panel"><button id="create-room-button" mat-raised-button color="primary" (click)="backToInfo()">Выйти к комнатам</button>

  <button class="apply-effect" mat-raised-button color="primary" (click)="applyEffect()">Применить эффект</button></div>


<mat-card class=" main-game-card" >
<div class="flex">
  <div class="timer">
    <header class="card-header">До конца хода </header>
<!--    {{trunc(this.timer / 3600)}}:{{trunc(this.timer / 60  % 60)}}:{{trunc(this.timer / 60 / 60 % 60)}}-->
    {{timer}}
  </div>

  <div class="player-role-wrapper">
    <header class="card-header">Ваши логин и роль </header>
    {{this.userLogin}} - {{this.role}}
  </div>
</div>

  <div class="message">
    <h3 class="card-header">Последнее действие </h3>
    <span>{{this.message}}</span>
  </div>
</mat-card>

<div class="flex for-effect-card">
  <div [hidden]="getImageOfCard(this.effectOnMe)==''">
    <h3 style="color:white;" >Сыгранная на вас карта</h3>
    <mat-card class="effect-card" [style.background-image]="getImageOfCard(this.effectOnMe)" title="{{this.effectOnMe}}" >
    </mat-card>
  </div>

  <mat-card class="closed-doors-info" [hidden]="lockedDoor==''">
    <h3 style="color:white;">Заколоченные двери</h3>
    справа от {{this.lockedDoorLogin}}
  </mat-card>
</div>
<div *ngIf="cardsPersist.length">
    <mat-form-field>
      <mat-select [(ngModel)]="selectedCard">
        <mat-option [value]="card['Номер карты']" *ngFor="let card of cardsPersist"> {{card['Название']}}</mat-option>
      </mat-select>
    </mat-form-field>
  <button mat-raised-button color="primary" (click)="getCard()">Выбрать карту</button>
  </div>
<!--  <div class="card-container">-->
<!--    <mat-card class="card" [style.background-image]="whiskeyCard.cardImg" title="{{whiskeyCard.cardTitle}}" *ngFor="let whiskeyCard of whiskeyCards">-->
<!--    </mat-card>-->
<!--  </div>-->

<div class="player-container">
  <mat-card [class.player-card-current]="player.login==currentMover" title="{{player.id}}" class="player-card" *ngFor="let player of players">
    <mat-card-header>{{player.orderNumber}}</mat-card-header>
    <mat-label >{{player.login}}</mat-label>
  </mat-card>
</div>
<br>

<div class="card-container">
  <mat-card class="card"  (click)="pickCard(cardInHand)" [style.background-image]="cardInHand.cardImg" title="{{cardInHand.cardTitle}}" *ngFor="let cardInHand of cardsInHands">
  </mat-card>
</div>


